{% if end_date != blank %}
<div class="timer quick-add-hidden">
    <p class="timer__title">{{'general.zenon_text.hurry_up_text' | t}}</p>
  <div class="timer-display">
    <div class="timer-block">
      <span class="timer-block__num js-timer-days first" id="day">00</span>
      <span class="timer-block__unit">{{'general.zenon_text.days' | t}}</span>
    </div>
    <div class="timer-block">
      <span class="timer-block__num js-timer-hours" id="hour">00</span>
      <span class="timer-block__unit">{{'general.zenon_text.hours' | t}}</span>
    </div>
    <div class="timer-block">
      <span class="timer-block__num js-timer-minutes" id="minute">00</span>
      <span class="timer-block__unit">{{'general.zenon_text.minuts' | t}}</span>
    </div>
    <div class="timer-block">
      <span class="timer-block__num js-timer-seconds" id="second">00</span>
      <span class="timer-block__unit">{{'general.zenon_text.seconds' | t}}</span>
    </div>
    <span id="offer-date"></span>
  </div>
</div>


<script type="text/javascript">
  /*var second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;
    var countDown = new Date('{{- end_date -}}').getTime(),
      x = setInterval(function() {
      var now = new Date().getTime(),
          distance = countDown - now;
      document.querySelector('.js-timer-days').innerText = Math.floor(distance / (day)),
        document.querySelector('.js-timer-hours').innerText = Math.floor((distance % (day)) / (hour)),
      document.querySelector('.js-timer-minutes').innerText = Math.floor((distance % (hour)) / (minute)),
      document.querySelector('.js-timer-seconds').innerText = Math.floor((distance % (minute)) / (second));
    }, second)*/


//===================== For Countdown =======================//
</script>
{% endif %}
