{{ 'section-sub-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- style -%}
    .sub-banner-inner .sub-banner-text .button{ background-color: {{section.settings.button_bkg_color}}; color: {{section.settings.button_text_color}}; }
    .sub-banner-inner .sub-banner-text .button:hover{ background-color: {{section.settings.button_bkg_hover_color}}; color: {{section.settings.button_text_hover_color}}; }
{%- endstyle -%}

<div data-aos="fade-up" class="sub-banner section-{{ section.id }}-padding">
<div class="{% if section.settings.layout == 'grid' %}page-width{% else %}full-width{% endif %}">
  {% if section.settings.heading != blank %}
    <h2 class="box__heading main-title {{ section.settings.heading_size }}">
          {{ section.settings.heading | escape }}
    </h2>
  {% endif %}

  {% if section.settings.sub_heading != blank %}
    <div class="sub-title">
          {{ section.settings.sub_heading | escape }}
    </div>
  {% endif %}

<div class="sub-banner-inner{% if section.settings.select_box %} {{ section.settings.select_box }}{% endif %}">
 {% for block in section.blocks %}
   <div data-aos="fade-right" class="sub-banner-block desktop_{{ block.settings.content_alignment }}">
     <div class="sub-banner-img">
      {% if block.settings.image != blank %}
          {% if block.settings.button_url != blank %}
            <a href="{{ block.settings.button_url }}">
          {% endif %}
            <img
              srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
                      {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                      {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
                      {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
                      {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
              src="{{ block.settings.image | image_url: width: master }}"
              sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                     (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                     calc(100vw - 30px)"
              alt="{{ block.settings.image.alt }}"
              height="{{ block.settings.image.height }}"
              width="{{ block.settings.image.width }}"
              loading="lazy"
            >
          {% if block.settings.button_url != blank %}
          </a>
          {% endif %}
      {% else %}
         {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>

   {% if  block.settings.title != blank or block.settings.sub_title != blank %}
    <div class="sub-banner-inner sub-banner-content--{{ section.settings.desktop_content_position }}">
       <div class="sub-banner-text sub-banner--content-align-{{ section.settings.desktop_content_alignment }}  sub-banner--content-align-mobile-{{ section.settings.mobile_content_alignment }}" style="color:{{ block.settings.text_color }};">
         {% if  block.settings.title != blank %}
         	<div class="sub-banner-title">{{block.settings.title}}</div>
         {% endif %}
         {% if  block.settings.sub_title != blank %}
         	<div class="sub-banner-subtitle">{{block.settings.sub_title}}</div>
         {% endif %}
         {% if block.settings.button_label != blank %}
           <a href="{{ block.settings.button_url }}" class="button" style="background-color: {{block.settings.button_bkg_color}}; color: {{block.settings.button_text_color}};">{{ block.settings.button_label }}</a>
         {% endif %}
       </div>
     </div>
    {% endif %}
   </div>
 {% endfor %}
</div>
</div>
</div>

{% schema %}
  {
    "name": "t:sections.sub-banner.name",
    "tag": "section",
    "class": "section",
    "settings": [
		{
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "full_bleed",
              "label": "t:sections.all.layout.options__1.label"
            },
            {
              "value": "grid",
              "label": "t:sections.all.layout.options__2.label"
            }
          ],
          "default": "grid",
          "label": "t:sections.all.layout.label"
        },
        {
          "type" :"text",
          "id":"heading",
          "default": "OFERTA EXCLUSIVA!",
          "label":"t:sections.sub-banner.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type" :"text",
          "id":"sub_heading",
          "default": "Desembale sua felicidade com Lunar",
          "label":"t:sections.sub-banner.settings.sub_heading.label"
        },
		{
			"type": "select",
			"id": "select_box",
			"label": "t:sections.sub-banner.settings.select_box.label",
			"options": [
				{
					"value": "one_column",
					"label": "t:sections.sub-banner.settings.select_box.options__1.label"
				},
				{
					"value": "two_column",
					"label": "t:sections.sub-banner.settings.select_box.options__2.label"
				},
				{
					"value": "three_column",
					"label": "t:sections.sub-banner.settings.select_box.options__3.label"
				}
			],
			"default": "two_column"
		},
        {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-right",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 50
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 50
    },
    {
      "type" :"color",
      "id":"button_bkg_color",
      "default": "#000",
      "label":"t:sections.slideshow.settings.button_bkg_color.label"
    },
    {
      "type" :"color",
      "id":"button_text_color",
      "default": "#fff",
      "label":"t:sections.slideshow.settings.button_text_color.label"
    },
    {
      "type" :"color",
      "id":"button_bkg_hover_color",
      "default": "#044B61",
      "label":"t:sections.slideshow.settings.button_bkg_hover_color.label"
    },
    {
      "type" :"color",
      "id":"button_text_hover_color",
      "default": "#fff",
      "label":"t:sections.slideshow.settings.button_text_hover_color.label"
        }
    ],
    "blocks": [
     {
      "type": "image",
      "limit":3,
      "name": "t:sections.sub-banner.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.sub-banner.blocks.image.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "oferta de jóias de ouro lunar!",
          "label": "t:sections.sub-banner.blocks.image.settings.title.label"
        },
        {
          "type": "text",
          "id": "sub_title",
          "default": "Vamos você descobrir sua beleza interior",
          "label": "t:sections.sub-banner.blocks.image.settings.sub_title.label"
        },
		{
          "type" :"text",
          "id":"button_label",
          "label":"t:sections.sub-banner.blocks.image.settings.button_label.label"
        },
        {
          "type" :"url",
          "id":"button_url",
          "label":"t:sections.sub-banner.blocks.image.settings.button_url.label"
        },
        {
          "type" :"color",
          "id":"text_color",
          "default": "#000",
          "label":"t:sections.sub-banner.blocks.image.settings.text_color.label"
        }
      ]
     }
    ],
    "presets": [
    {
      "name": "t:sections.sub-banner.presets.name",
	  "blocks": [
		{
			"type": "image"
        },
        {
			"type": "image"
        }
	 ]
    }
   ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
